html {
  font-family: 'Merriweather', serif;
  background-color: #f2f2f2;
  text-decoration: none;
}

.grey {
  border-style: solid;
  border-radius: 8px;
  color: #666;
  background-color: #ccc;
  border-color:  #333;
}

.red {
  border-style: solid;
  border-radius: 8px;
  color: #b92828;
  background-color: #f2bcbc;
  border-color:  #991919;
}

.blue {
  border-style: solid;
  border-radius: 8px;
  color: #1d38da;
  background-color: #d2d6f0;
  border-color:  #38448e;
}

.green {
  border-style: solid;
  border-radius: 8px;
  color: #6b7e54;
  background-color: #d1e0bf;
  border-color:  #51603f;
}
